.home_center {
    padding-top: 30px;
    text-align: center;
}

#lang_choice_dropdown > .dropdown-item {
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}